<style>
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Kolker+Brush&family=Poppins:wght@300&family=Source+Sans+Pro:wght@200&family=Xanh+Mono&display=swap');
</style>

<head>
  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
    <div class="mobile-container">
      <div class="drummer-name">
        <h1>DRUMMER NAME</h1>
      </div>
          <div class="lessons">
            <p>Drum lessons!</p>
          </div>
      <div class="enter-site">
          <%= link_to lessons_path do %>
        <button><u>ENTER SITE</u></button>
          <% end %>
      </div>
  </div>
</body>
