
<body style = "display: flex; margin: 0; align-items: center; justify-content: center; min-height: 100vh;">
    <div class="mobile-container" style="width: 390px; height:844px; background-color: gray; border-radius: 3px; background-image: url('https://images.unsplash.com/photo-1625801821669-d11f0ede90cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGRydW18ZW58MHx8MHx8&w=1000&q=80');">
      <div class="drummer-name">
        <h1>'Host NAME'</h1>
        <p>Drum lessons</p>
      </div>
      <div class="enter-site">
        <button>ENTER SITE</button>
      </div>
  </div>
</body>
