
<body>
    <div class="mobile-container">
      <div class="drummer-name">
        <h1>'Host NAME'</h1>
        <p>Drum lessons</p>
      </div>
      <div class="enter-site">
        <button>ENTER SITE</button>
      </div>
  </div>
</body>
