<div class="row" style="" >
  <% @lessons.each do |lesson| %>
    <%= link_to confirmation_path(lesson) do %>
    <p class="text-3xl">  <%= lesson.name %> </p>
      <%= lesson.price %>
      <%= lesson.category %>
    <% end %>
  <% end %>
</div>
