.mobile-container {
width: 100vw;
height:100vh;
background-color: gray;
border-radius: 3px;
color: white;
left: 1.26%;
right: 0.25%;
top: 0%;
bottom: 50%;
background: #FFFFFF;
font-family: 'Amatic SC', cursive;
background-image: url('https://images.unsplash.com/photo-1625801821669-d11f0ede90cd?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGRydW18ZW58MHx8MHx8&w=1000&q=80');
}


.drummer-name {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12rem;
  font-size: 64px;
}
