body {
  font-family: 'Amatic SC', cursive;
}

.nav {
  text-align: center;
  font-size: 25px;
  margin-top: 2rem;
}

.word {
  display: inline-block;
  margin-right: 10rem;

}

.word:last-child {
  margin-right: 0;
}

.book {
  text-align: center;
  padding: 3rem;
  font-size: 45px;
}

.lessons-container {
  color: red;
}

// This is for the dropdown menu styling

.lesson-content {
  /* By default, hide the content */
  display: none;
}

.lesson-content.expanded {
  /* When the lesson is expanded, show the content */
  display: block;
}
